nav {
    margin-bottom: 2rem;
    background-color: #392748; 
    border-radius: 0 !important;
}

#description {
    margin: 2rem 0;
    font-size: 14pt;
}

.CodeMirror {
    border: solid 1px #ddd;
    height: auto;
}

#buttons {
    margin: 1rem 0;
}

#result {
    width: 100%;
    background-color: #eee;
    border: solid 1px #ddd;
    border-radius: 3px;
    min-height: 2rem;
}

